<h1>Sifarişiniz uğurla yerinə yetirildi !</h1>
<div class="notify-success"><span id="notifyType" class="">Ən qısa zamanda sizinlə əlaqə saxlanılacaq...</span></div>

<script>
    window.scrollTo({
        top: 700,
        left: 0,
        behavior: 'smooth'
    });
</script>
<button class="button-79"><a style="text-decoration:none;color:#CBC737;" asp-action="Index" asp-controller="Books">Digər Kitablar</a></button >
