<h1>
    'MR Book' Murad Dadaşov tərəfindən hazırlanmışdır.
</h1>
<h1 style="width:200px;"><a target="_blank" style="color:white;" href="https://www.youtube.com/3lon_Win">Youtube</a></h1>
<h1 style="width:200px;"><a target="_blank" style="color:white;" href="https://www.facebook.com/muriy.elon">Facebook</a></h1>
<h1 style="width:200px;"><a target="_blank" style="color:white;" href="https://github.com/3lonAZ">Github</a></h1>


