@model (BookModel,List<SelectListItem>,List<SelectListItem>)

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Easiest Way to Add Input Masks to Your Forms</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/admin-root/assets/css/style.css">
</head>
<body>
    <div class="registration-form">
        <form asp-action="AddBook" enctype="multipart/form-data" method="post">
            <div style="padding-right: 155px" class="form-icon">
                <img width="150" height="150" src="~/admin-root/images/book.png">
            </div>
            <div class="form-group">
                <input type="text" class="form-control item" id="Name" maxlength="30" placeholder="Ad" asp-for="Item1.Name" required oninvalid="this.setCustomValidity('Boş yeri doldurun !')" oninput="this.setCustomValidity('')">
            </div>
            <div class="form-group">
                <input type="text" class="form-control item" id="author" maxlength="30" placeholder="Müəllif" asp-for="Item1.Author" required oninvalid="this.setCustomValidity('Boş yeri doldurun !')" oninput="this.setCustomValidity('')">
            </div>
            <div class="form-group">
                <textarea type="text" class="form-control item" id="about" maxlength="1000" placeholder="Haqqında" asp-for="Item1.About" required oninvalid="this.setCustomValidity('Boş yeri doldurun !')" oninput="this.setCustomValidity('')"></textarea>
            </div>

            <div class="form-group">
                <select style="height: 50px; border-radius: 20px; color:grey;" id="language" class="form-control" asp-for="Item1.LanguageId" asp-items="@Model.Item3" required oninvalid="this.setCustomValidity('Boş yeri doldurun !')" oninput="this.setCustomValidity('')">
                    <option value="" disabled selected>Dil</option>

                </select>
            </div>
            <div class="form-group">
                <select style="height: 50px; border-radius: 20px; color:grey;" id="category" class="form-control" asp-for="Item1.CategoryID" asp-items="@Model.Item2" required oninvalid="this.setCustomValidity('Boş yeri doldurun !')" oninput="this.setCustomValidity('')">
                    <option value="" disabled selected>Kateqoriya</option>

                </select>
            </div>
            <div class="form-group">
                <input type="text" class="form-control item" id="page-count" placeholder="Səhifə sayı" asp-for="Item1.PageCount" required oninvalid="this.setCustomValidity('Boş yeri doldurun !')" oninput="this.setCustomValidity('')">
            </div>
            <div class="form-group">
                <input type="text" class="form-control item" maxlength="20" id="size" placeholder="Ölçü" asp-for="Item1.Size" required oninvalid="this.setCustomValidity('Boş yeri doldurun !')" oninput="this.setCustomValidity('')">
            </div>
            <div class="form-group">
                <input type="date" class="form-control item" id="date" placeholder="Tarix" asp-for="Item1.Release_Date" required oninvalid="this.setCustomValidity('Boş yeri doldurun !')" oninput="this.setCustomValidity('')">
            </div>
            <div class="form-group">
                <input type="text" class="form-control item" id="price" placeholder="Qiymət" asp-for="Item1.Price" required oninvalid="this.setCustomValidity('Boş yeri doldurun !')" oninput="this.setCustomValidity('')">
            </div>
            <div class="form-group">
                <input type="file" class="form-control item" id="image" placeholder="Şəkil" accept="image/*" asp-for="Item1.BookIMG" required oninvalid="this.setCustomValidity('Boş yeri doldurun !')" oninput="this.setCustomValidity('')">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-block create-account">Əlavə et</button>
            </div>
        </form>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="~/admin-root/assets/js/script.js"></script>
</body>
</html>
