@model AdminLog
 
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/images/mrbook.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/admin-root/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/admin-root/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/admin-root/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/admin-root/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/admin-root/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/admin-root/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/admin-root/css/admin.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="~/admin-root/images/logo.png" alt="IMG">
                </div>

                <form class="login100-form validate-form" asp-controller="Admin" asp-action="Index" method="post">
                    <span class="login100-form-title">
                        Admin Login
                    </span>

                    <div class="wrap-input100">
                        <input class="input100" type="text" placeholder="Email" asp-for="Username" required>
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="wrap-input100">
                        <input class="input100" type="password" placeholder="Şifrə" asp-for="Password" required>
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div style="padding-left: 10px; color: red;" asp-validation-summary="All">

                    </div>
                    <div style="padding-left: 10px; color: red";>
                        @ViewBag.FailLogMsg
                    </div>
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" type="submit">
                            GİRİŞ
                        </button>
                    </div>
                    <div class="text-center p-t-136">
                    </div>
                </form>
            </div>
        </div>
    </div>




    <!--===============================================================================================-->
    <script src="~/admin-root/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/admin-root/vendor/bootstrap/js/popper.js"></script>
    <script src="~/admin-root/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/admin-root/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/admin-root/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <!--===============================================================================================-->
    <script src="~/admin-root/js/main.js"></script>

</body>
</html>