@{
    Layout = null;
}
<!Doctype html>
<html>
<head>
    <link href="~/css/error.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" type="image/x-icon" href="~/images/mrbook.ico" />
    <title>MR Book</title>
</head>
<body>
    <h1>Səhifə Tapılmadı...</h1>
    <section class="error-container">
        <span class="four"><span class="screen-reader-text">4</span></span>
        <span class="zero"><span class="screen-reader-text">0</span></span>
        <span class="four"><span class="screen-reader-text">4</span></span>
    </section>
    <div class="link-container">
        <a asp-controller="Home" asp-action="Index"  class="more-link">ANA SƏHİFƏ</a>
    </div>
</body>
</html>
