.notify, .notify-success {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    height: 55px;
    box-sizing: border-box;
    color: white;
    text-align: center;
    background: black;
    overflow: hidden;
    font-weight: bold;
    box-sizing: border-box;
    background-color: #d11b06;
    font-size: 20px;
    color: White;
    border-radius: 20px;
    padding-top: 20px;
    transition-delay: 1s;
    transition-property: background-color;
}

.notify-success {
    margin-top: 20px;
    background-color: #0bb538;
}

/* CSS */
.button-79 {
    backface-visibility: hidden;
    border: 0;
    border-radius: .375rem;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: Circular,Helvetica,sans-serif;
    font-size: 1.430rem;
    width: 180px;
    height: 55px;
    color: #C9C54F;
    font-weight: 700;
    line-height: 1.3;
    text-align: left;
    text-decoration: none;
    transform: translateZ(0) scale(1);
    transition: transform .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 240px;
    margin-top:200px;
    text-align: center;
    background: url(../images/templatemo_h1_bg.jpg);
}

.button-79:disabled {
    cursor: auto;
}

.button-79:not(:disabled):hover {
    transform: scale(1.05);
}

    .button-79:not(:disabled):hover:active {
        transform: scale(1.05) translateY(.125rem);
    }

.button-79:focus {
    outline: 0 solid transparent;
}

    .button-79:focus:before {
        border-width: .125rem;
        content: "";
        left: calc(-1*.375rem);
        pointer-events: none;
        position: absolute;
        top: calc(-1*.375rem);
        transition: border-radius;
        user-select: none;
    }

    .button-79:focus:not(:focus-visible) {
        outline: 0 solid transparent;
    }

.button-79:not(:disabled):active {
    transform: translateY(.125rem);
}
